/* google fonts */
body {
    font-family: 'EB Garamond', serif;
}

.legal-solution-poppins-font,
p {
    font-family: 'Poppins', sans-serif;
}

.legal-solution-btn-bg-color {
    background-color: #B68C5A;
    ;
}